doctype html
html
  head
    title Meeet
    link(rel="icon", type="image/png", href="/images/favicons/Meeet-32x32.png")
    // CSS
    link(rel='stylesheet', href='/stylesheets/css/i.css')
    // JS
    script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js")
    link(rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css")
    script(src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js")
    script(src="/js/src/i.js")
    //- GoSquared
    script.
      !function(g,s,q,r,d){r=g[r]=g[r]||function(){(r.q=r.q||[]).push(
      arguments)};d=s.createElement(q);q=s.getElementsByTagName(q)[0];
      d.src='//d1l6p2sc9645hc.cloudfront.net/tracker.js';q.parentNode.
      insertBefore(d,q)}(window,document,'script','_gs');
      _gs('GSN-015151-W');

    script(data-cfasync='false', type='text/javascript').
      /*<![CDATA[*/window.olark||(function(c){var f=window,d=document,l=f.location.protocol=="https:"?"https:":"http:",z=c.name,r="load";var nt=function(){
      f[z]=function(){
      (a.s=a.s||[]).push(arguments)};var a=f[z]._={
      },q=c.methods.length;while(q--){(function(n){f[z][n]=function(){
      f[z]("call",n,arguments)}})(c.methods[q])}a.l=c.loader;a.i=nt;a.p={
      0:+new Date};a.P=function(u){
      a.p[u]=new Date-a.p[0]};function s(){
      a.P(r);f[z](r)}f.addEventListener?f.addEventListener(r,s,false):f.attachEvent("on"+r,s);var ld=function(){function p(hd){
      hd="head";return["<",hd,"></",hd,"><",i,' onl' + 'oad="var d=',g,";d.getElementsByTagName('head')[0].",j,"(d.",h,"('script')).",k,"='",l,"//",a.l,"'",'"',"></",i,">"].join("")}var i="body",m=d[i];if(!m){
      return setTimeout(ld,100)}a.P(1);var j="appendChild",h="createElement",k="src",n=d[h]("div"),v=n[j](d[h](z)),b=d[h]("iframe"),g="document",e="domain",o;n.style.display="none";m.insertBefore(n,m.firstChild).id=z;b.frameBorder="0";b.id=z+"-loader";if(/MSIE[ ]+6/.test(navigator.userAgent)){
      b.src="javascript:false"}b.allowTransparency="true";v[j](b);try{
      b.contentWindow[g].open()}catch(w){
      c[e]=d[e];o="javascript:var d="+g+".open();d.domain='"+d.domain+"';";b[k]=o+"void(0);"}try{
      var t=b.contentWindow[g];t.write(p());t.close()}catch(x){
      b[k]=o+'d.write("'+p().replace(/"/g,String.fromCharCode(92)+'"')+'");d.close();'}a.P(2)};ld()};nt()})({
      loader: "static.olark.com/jsclient/loader0.js",name:"olark",methods:["configure","extend","declare","identify"]});
      /* custom configuration goes here (www.olark.com/documentation) */
      olark.identify('3963-197-10-4645');/*]]>*/
    noscript
      a(href='https://www.olark.com/site/3963-197-10-4645/contact', title='Contact us', target='_blank') Questions? Feedback?
      | powered by
      a(href='http://www.olark.com?welcome', title='Olark live chat software') Olark live chat software


  body
    header.main
      
      div.inner
        div.logo
          a(href="/")
            img#logo(src="/images/logos/logo-gradient.svg")
        div.links
          a(href="/people") Explore
          a(href="/get-started") Get Started
          //-a(href="#") Showcase
        if (loggedin)
          div.buttons.buttons-logged-in
            //- why if use has invite can they make a new project?
            - if (user.has_invite)
              a(href="/new")
                button() New project
            span.activity()
              - var unread = false
              - each notification in user.notifications
                - if (!notification.read)
                  - unread = true
              - if (!unread)
                button.notification-btn#notifications-down-toggle(style="background-image: url('/images/icons/notification-vector-inactive.svg');") &nbsp;
              - else
                button.notification-btn#notifications-down-toggle(style="background-image: url('/images/icons/notification-vector.svg');") &nbsp;
              aside.dropdown#notifications-down
                span.dropdown-header Notifications
                ul.dropdown-items
                  if (notifications.length > 0)
                    - var ct = 0;
                    - notifications.reverse()
                    - each notification in notifications
                      - if (ct <= 5)
                        - ct++
                        li
                          - if (notification.options.type == "application")
                            = notification.options.applicant + " applied to " + notification.options.project
                          - if (notification.options.type == "accept")
                            = "You have been accepted to " + notification.options.project
                          - if (notification.options.type == "chat")
                            = notification.options.from + " left a message on " + notification.options.project
                          - if (notification.options.type = "invited")
                            = notification.options.from + " invited you"
                    li
                      a.see-more(href="/activity") See More
                  else 
                    li
                      span.small() Nothing to see here!
                    li
                      a(href="/activity") View Activity
            
            span.activity()
              button.avatar#profile-down-toggle(style="background-image: url('" + user.image + "');") &nbsp;
              aside.dropdown#profile-down
                span.dropdown-header Hey, #{user.username}!
                ul.dropdown-items
                  li
                    a(href="/" + user.username) Profile
                  li
                    a(href="/settings") Account Settings
                  li
                    a.see-more(href="/logout") Sign Out
          
        else
          div.buttons.buttons-logged-out
            a(href="/signup")
              button() Sign Up
            a(href="/login") Log In

    block content
